
<div class="container mt-5 mb-5">
    <h3 class="text-center titulo">Quem somos</h3>
    <div class="row">
        <div class="col mt-5">
            <img class="borda p-4" src="https://cdn.shopify.com/s/files/1/0572/0018/1424/files/WashBar-Soap-and-Shampoo-Bar-for-Dogs-Owner-Family-Photo-Louise-Knight_271f2f27-ba53-4b66-8188-7c50c2174cec_540x.jpg?v=1637192886" alt="">
        </div>
        <div class="col">
            <h3 class="titulo2 mb-3">Quem são os Padrinhos Pet!</h3>
                    <p class="text-justify">Nosso projeto começou com 4 amigos na  Bootcamp Desenvolvedor Java Full Stack da  SOULCODE ACADEMY e acabou se tornando uma missão de vida. Hoje somos uma ONGs/protetores independentes para que os Pets tenham uma chance de encontrar um lar.Para isso disponibilizamos espaços permanentes dedicados à adoção mas para que isso ocorra vendemos pelúcias em nossa lojinha para arrecadar fundos para nossa instituição para manter nossos amiguinhos sempre bem cuidados e protegidos com muito amor e carinho até que chegue o grande dia "adoção"!</p>

                    <p class="lead">Podemos contar com você para nos ajudar? </p> 
                    

        </div>

    </div>

</div>