@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;800&display=swap');
.navbar{
    background-color: #FF9C4C;
    font-family: 'Nunito';
    font-weight: 600; 
    font-size: medium;
    
    
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.959);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.973);
}


.navbar-brand > img{
    width: 100px;
}
.nav-login-input-group > .form-control{
    max-width: 150px;
    height: 30px;
    background-color: #fff;
}
.separator{
    background-color: chocolate;
    padding: 1px;
    height: 25px;
}