<nav class="navbar navbar-expand-lg navbar-light" id="idNavbar">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#">PadrinhoPet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-group">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Saiba Mais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fale Conosco</a>
                    </li>
                </ul>
                <form class="d-flex nav-login-input-group">
                    <input class="form-control form-control-sm me-2" type="email" placeholder="email"
                        aria-label="Email">
                    <input class="form-control me-2" type="password" placeholder="Senha" aria-label="Password">
                    <button class="btn bnt-light me-2" type="submit">Entrar</button>
                    <button class="btn btn-outline-light" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</nav>