<div class="text-center mb-3">
    <h3>Parceiros Masters</h3>
</div>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="assets/img/soulCode.jpg" alt="Imagem de capa do card">
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/accenture.png" alt="Imagem de capa do card">
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/googleCloud.webp" alt="Imagem de capa do card">
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/zurich.jpg" alt="Imagem de capa do card">
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="assets/img/luisaMel.jpg" alt="Imagem de capa do card">
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/tnt.png" alt="Imagem de capa do card">
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/pagSeguro.png" alt="Imagem de capa do card">
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/img/ItLean.jpg" alt="Imagem de capa do card">
    </div>
</div>
