
<div class="row justify-content-center mb-100">
        <div class="col-12 col-lg-8 col-x1-g text-center">
            <h3>
                Já passou pela sua cabeça que você poderia
                 fazer mais pelos pets que tanto gosta? 
            
            </h3>
            <h6> Pois é o mesmo passou pela nossa!
                Com intuito de alcançar o maior número de vidas
                preciosas nós fundamos o <b>PadrinhoPet</b>. Aqui você
                além de poder adotar uns dos nossos anjinhos,
                você também pode ajudar apadrinhando, 
                você deve estar se perguntando, mas como e faço isso?
                É super fácil, comprando uma pelúcia com a carinha dos
                afilhados você está apadrinhando todos aqueles que não 
                foram adotados ainda. Legal né?! Uma corrente do bem que
                traz um grande impacto e diferença na vida dos pets.
                Esta é a nossa missão, faça essa a sua também!
            </h6>
        </div>
    
    </div>