<div class="container container-login mt-5" >
  <h1 class="titulo mb-3">Login Adm</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="Email">Endereço de Email </label>
        <input #emailInp="ngModel"[(ngModel)]="email" type="email" class="form-control" id="Email" name="email"
        placeholder="exemplo@email.com" required email>
        <small *ngIf="emailInp.touched && emailInp.invalid" id="email" class="form-text text-muted">O campo é Inválido</small>
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input #senhaInp="ngModel"[(ngModel)]="senha"type="password" class="form-control" id="senha" name="senha"
        placeholder="digite sua senha aqui" required password>
        <small *ngIf="senhaInp.touched && senhaInp.invalid" id="email" class="form-text text-muted">O campo é Inválido</small>
      </div>
      <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-warning" [disabled]="loginForm.invalid">Entrar</button> 
    </div>
    </form>
    <div class="d-flex justify-content-center">
    <a href="#">Esqueci minha senha</a>
  </div>
</div>
