<form class="container">
  <h1 class="titulo mb-3 text-center">Fale Conosco</h1>
  <div class="row mt-4">
    <div class="col">
      <label for="validationSubject">Nome</label>
      <input type="text" class="form-control" id="validationSubject" placeholder="Digite seu nome" required>
    </div>
    <div class="col">
      <label for="validationSubject">Email</label>
      <input type="email" class="form-control" id="validationSubject" placeholder="exemplo@email.com" required>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <label for="validationSubject">Assunto</label>
      <input type="text" class="form-control" id="validationSubject" placeholder="assunto..." required>
    </div>
</div>
<div class="row mt-4">
  <textarea class="mx-auto form-control" name="" id="" cols="5" rows="5"></textarea>
  <div class="d-flex justify-content-center">
     <button class="btn btn-primary mt-4" type="submit">Enviar</button>
  </div>
</div>
</form>